body {
  background:rgb(255, 255, 255);
  color:rgb(143, 220, 243);
}

#addButton {
  background: rgb(141, 234, 158);
  border-radius: 10px;
}

#clearButton {
  background: rgb(243, 95, 27);
  border-radius: 10px;
}

#itemsList {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 0px;
}

#listTitle {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

#dataTable {
  margin-left: 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

#thMain, td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  color: black;
  background-color: bisque;
}

#thDerived, #tdDerived {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
  color: black;
  background-color: rgb(200, 241, 162);
}

#thTitle {
  color: black;
  font-size: 20px;
}

#defaultText {
  color: black;
  font-size: 20px;
}